<div align="center">

<h1>About The Writer</h1>

<img src="http://i.imgur.com/jvVI5TN.jpg" width="350px"/>
<h2>Angela Ji</h2>
<p>25 | Vancouver, BC |
    <div class="social-icons center">
    <li class="twitter"><a href="http://twitter.com/countfromzero"></a></li>&nbsp;
    <li class="github"><a href="http://github.com/angelasji"></a></li>

  </div>

</div>
